<nav>
  <section class="logo-and-button">
    <button name="get-started" class="btn btn-primary">Get started</button>
    <figure>
      <img src="" alt="" />
      <figcaption></figcaption>
    </figure>
  </section>

  <section class="navbar">
    <ul class="navbar-elements">
      <li>
        <button>Login</button>
      </li>
      <li>
        <button>Sign up</button>
      </li>
      <li>
        <input type="text" placeholder="search" />
      </li>
      <li>
        <button>Search</button>
      </li>
    </ul>
  </section>
</nav>
