<nav>
  <div class="navbar-container">
    <section class="logo-and-button">
      <figure>
        <img src="https://www.cdc.gov/foodsafety/images/comms/features/GettyImages-1247930626-500px.jpg?_=00453" alt="food" width="500" height="333"/>
        <figcaption></figcaption>
      </figure>
      <button name="create-recipe" class="button">
        Create Recipe
      </button>
      
    </section>

    <section class="navbar">
      <ul class="navbar-part-one">
        <li>
          <button name="get-started" class="button">
            Get started
          </button>
        </li>
        <li>
          <button>Tags</button>
        </li>
      </ul>

      <ul class="navbar-part-two">
        <li>
          <button class="button">Login</button>
        </li>
        <li>
          <button class="button">Sign up</button>
        </li>
        <li>
          <input id="search-bar" type="text" placeholder="search" />
        </li>
        <li>
          <button class="button">Search</button>
        </li>
      </ul>
      
    </section>
  </div>
</nav>
